{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenCard Issuer API",
    "version": "1.0",
    "description": "Card issuers deliver transaction states to OpenCard. Base: api.opencard.io",
    "contact": {
      "email": "support@opencard.io"
    }
  },
  "servers": [
    {
      "url": "https://api.opencard.io/api",
      "description": "Production"
    },
    {
      "url": "https://sandbox-api.opencard.io/api",
      "description": "Sandbox"
    }
  ],
  "tags": [
    {
      "name": "Transaction States"
    },
    {
      "name": "Nordea"
    }
  ],
  "paths": {
    "/v1/issuers/zevoy/cards/{cardId}/transaction_states": {
      "post": {
        "tags": [
          "Transaction States"
        ],
        "summary": "Post transaction state",
        "operationId": "zevoyCreateTransactionState",
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "description": "Zevoy card ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "opencard_auth": [
              "issuer-zevoy-transaction-states-write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IssuerTransactionState"
              },
              "example": {
                "id": "TX-001",
                "state": "authorized",
                "type": "CARD_PURCHASE",
                "original_amount": 109.38,
                "original_currency": "SEK",
                "accounting_amount": 109.38,
                "accounting_currency": "SEK",
                "exchange_rate": 1.0,
                "purchase_merchant": "Espresso House",
                "purchase_time": "2026-06-08T11:12:14+02:00",
                "purchase_country": "SE",
                "mcc_code": "5814",
                "merchant_number": "1234567890",
                "terminal_id": "T001",
                "rrn": "190102519907",
                "auth_code": "ABC123"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted for processing",
            "content": {
              "application/json": {
                "example": {
                  "ok": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/issuers/nordea/cards/{cardId}/transaction_states": {
      "post": {
        "tags": [
          "Transaction States"
        ],
        "summary": "Post transaction state",
        "operationId": "nordeaCreateTransactionState",
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "description": "OpenCard card ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "opencard_auth": [
              "issuer-nordea-transaction-states-write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IssuerTransactionState"
              },
              "example": {
                "id": "TX-001",
                "state": "authorized",
                "type": "CARD_PURCHASE",
                "original_amount": 109.38,
                "original_currency": "SEK",
                "accounting_amount": 109.38,
                "accounting_currency": "SEK",
                "exchange_rate": 1.0,
                "purchase_merchant": "Espresso House",
                "purchase_time": "2026-06-08T11:12:14+02:00",
                "purchase_country": "SE",
                "mcc_code": "5814",
                "merchant_number": "1234567890",
                "terminal_id": "T001",
                "rrn": "190102519907",
                "auth_code": "ABC123"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "example": {
                  "ok": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/issuer/nordea/partner-event": {
      "post": {
        "tags": [
          "Nordea"
        ],
        "summary": "Partner event batch (mTLS)",
        "operationId": "nordeaPartnerEvent",
        "description": "Mutual TLS. Headers: X-SSL-Client-CN, X-SSL-Client-Fingerprint",
        "responses": {
          "201": {
            "description": "Accepted",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "opencard_auth": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://api.opencard.io/oauth/token",
            "scopes": {
              "issuer-zevoy-cards-read": "Read Zevoy cards",
              "issuer-zevoy-cards-write": "Write Zevoy cards",
              "issuer-zevoy-cards-delete": "Delete Zevoy cards",
              "issuer-zevoy-transaction-states-write": "Write transaction states",
              "issuer-nordea-transaction-states-write": "Write Nordea transaction states"
            }
          }
        }
      }
    },
    "schemas": {
      "IssuerTransactionState": {
        "type": "object",
        "required": [
          "id",
          "state",
          "type",
          "original_amount",
          "original_currency"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "enum": [
              "authorized",
              "cleared",
              "invoiced",
              "deleted"
            ]
          },
          "type": {
            "type": "string"
          },
          "original_amount": {
            "type": "number"
          },
          "original_currency": {
            "type": "string"
          },
          "purchase_merchant": {
            "type": "string"
          },
          "purchase_time": {
            "type": "string",
            "format": "date-time"
          },
          "purchase_country": {
            "type": "string"
          },
          "mcc_code": {
            "type": "string"
          }
        }
      }
    }
  }
}