{
  "openapi": "3.0.3",
  "info": {
    "title": "Receipt Provider Callback",
    "version": "1.0",
    "description": "Inbound API for receipt enrichers delivering matched data back to OpenCard."
  },
  "servers": [
    {
      "url": "https://api.opencard.io/api",
      "description": "Production"
    },
    {
      "url": "https://sandbox-api.opencard.io/api",
      "description": "Sandbox"
    }
  ],
  "paths": {
    "/v1/service/marcet/callback/{referenceId}": {
      "post": {
        "tags": [
          "Callback"
        ],
        "summary": "Deliver receipt enrichment",
        "operationId": "receiptProviderCallback",
        "description": "HMAC-SHA256 via X-Data-Signature header.",
        "parameters": [
          {
            "name": "referenceId",
            "in": "path",
            "required": true,
            "description": "Transaction reference",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Event",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CallbackRequestResolved",
                "CallbackRequestDeleted"
              ]
            }
          },
          {
            "name": "X-Data-Signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Accepted",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  }
}